<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid" alt="Phone image">
            </div>
            <div class="col-xl-6">
                <ul class="nav nav-tabs justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="pill" href="#home">Inicio Sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#menu1">Registro</a>
                    </li>
                </ul><br>
                <div class="tab-content">
                    <div id="home" class="tab-pane active"><br>
                        <div class="offset-xl-1">
                            <form class="row g-3 needs-validation" novalidate>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="nombre_email"><strong>Email:</strong></label>
                                    <input type="email" id="email" name="email" class="form-control form-control-lg"
                                        autocomplete="off" required />
                                    <div class="invalid-feedback">
                                        Por favor, ingresa con el correo electronico con el que se registro.
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label"
                                        for="nombre_contrasena"><strong>Contraseña:</strong></label>
                                    <input type="password" id="contrasena" name="contrasena"
                                        class="form-control form-control-lg" autocomplete="off" required />
                                    <div class="invalid-feedback">
                                        Por favor, ingresa la contraseña con la que se registro.
                                    </div>
                                </div>

                                <div class="d-flex justify-content-around align-items-center mb-4">
                                    <div class="form-check">
                                        <label class="form-check-label" for="form1Example3"> ¿Olvido la contraseña?  <a
                                                href="#!">Clic aqui</a></label>
                                    </div>

                                </div>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="menu1" class="container tab-pane fade"><br>
                        <form class="row g-3 needs-validation" novalidate>
                            <div class="">
                                <label for="nombre_nombre" class="form-label"><strong>Nombre completo:</strong></label>
                                <input type="text" class="form-control" id="nombre_completo" name="nombre_completo"
                                    autocomplete="off" required>
                                <div class="invalid-feedback">
                                    Por favor, ingresa tu nombre completo.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="nombre_tipo_documento" class="form-label"><strong>Tipo de
                                        documento:</strong></label>
                                <select class="form-select" id="tipo_documento" name="tipo_documento" required>
                                    <option selected disabled value="">Seleccione una opcion</option>
                                    <option>.</option>
                                </select>
                                <div class="invalid-feedback">
                                    Seleccione una opcion vailda.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="nombre_numero_documento" class="form-label"><strong>Numero de
                                        documento:</strong></label>
                                <input type="text" class="form-control" id="numero_documento" name="numero_documento"
                                    autocomplete="off" required>
                                <div class="invalid-feedback">
                                    Por favor, ingresa tu numero de documento.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="nombre_email" class="form-label"><strong>Email:</strong></label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="nombre_arroa">@</span>
                                    <input type="email" class="form-control" id="email" name="email"
                                        aria-describedby="nombre_arroa" autocomplete="off" required>
                                    <div class="invalid-feedback">
                                        Por favor, ingresa tu correo electronico.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="nombre_contrasena" class="form-label"><strong>Contraseña:</strong></label>
                                <input type="password" class="form-control" id="contrasena" name="contrasena"
                                    autocomplete="off" required>
                                <div class="invalid-feedback">
                                    Por favor, ingresa una contraseña.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="nombre_celular" class="form-label"><strong>Celular:</strong></label>
                                <input type="text" class="form-control" id="celular" name="celular" required>
                                <div class="invalid-feedback">
                                    Please provide a valid zip.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check"><br>
                                    <input class="form-check-input" type="checkbox" value="" id="check" name="check"
                                        required>
                                    <label class="form-check-label" for="descripcion_terminos">
                                        Acepta los terminos y condiciones, dar clic <a href="">aqui</a> para leer los.
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary" type="submit">Registrar se</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>